Born2beroot-Old/debian-12.2.0-amd64-netinst.iso
Born2beroot-Old/eval.sh
Born2beroot-Old/login.txt
Born2beroot-Old/monitoring-script.txt
Born2beroot-Old/monitoring.sh
Born2beroot-Old/Notes.txt
Born2beroot-Old/pam.txt
Born2beroot-Old/sudo.txt
Born2beroot-Old/user.txt
Born2beroot-Old/usermod.txt
Born2beroot-Old/VM/VM-1.16-linux.vbox
Born2beroot-Old/VM/VM.vbox
Born2beroot-Old/VM/VM.vbox-prev
Born2beroot-Old/VM/VM.vdi
Born2beroot-Old/VM/Logs/VBox.log
Born2beroot-Old/VM/Logs/VBox.log.1
Born2beroot-Old/VM/Logs/VBox.log.2
Born2beroot-Old/VM/Logs/VBox.log.3
