[submodule "born2beroot"]
	path = born2beroot
	url = https://github.com/WOLFIE-OG/born2beroot
[submodule "libft"]
	path = libft
	url = https://github.com/WOLFIE-OG/Libft
	branch = dev
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/WOLFIE-OG/ft_printf
	branch = dev
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/WOLFIE-OG/get_next_line
	branch = dev
